---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} metaTitle={frontmatter.metaTitle}>
  <div class='flex flex-col container w-98 py-10 px-10 md:px-40 mx-auto'>
    <img
      class='rounded-md md:w-lg'
      src={frontmatter.image}
      alt={frontmatter.imageAlt}
    />
    <h1
      class='text-yellow-500 text-center font-bold text-3xl md:text-5xl py-10'
    >
      {frontmatter.title}
    </h1>
  </div>
  <section
    class='flex flex-col container py-10 px-10 md:prose-xl mx-auto prose'
  >
    <slot />
  </section>
</Layout>
